{% extends "base.html" %}

{% block content %}
<div class="card bg-base-100">
    <div class="card-body">
        <div class="flex justify-between items-center mb-4">
            <h2 class="card-title text-2xl">Список ссылок</h2>
            <div class="flex items-center gap-2">
                <button onclick="window.location.reload();" class="btn btn-circle btn-ghost btn-sm">
                    <i class="fa-solid fa-rotate-right text-lg"></i>
                </button>
                <div class="badge badge-secondary p-4">Всего: {{ total_count }}</div>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="table table-zebra table-xs table-fixed w-full">
                <thead>
                    <tr class="bg-base-200">
                        <td class="w-20">status</td>
                        <td>url</td>
                        <td>referer</td>
                        <td>title</td>
                        <td>redirect_urls</td>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <td class="{% if link.status == 200 %}bg-success{% endif %}">{{ link.status }}</td>
                        <td class="truncate" title="{{ link.url           }}">{{ link.url           }}</td>
                        <td class="truncate" title="{{ link.referer       }}">{{ link.referer       }}</td>
                        <td class="truncate" title="{{ link.title         }}">{{ link.title or "—"  }}</td>
                        <td class="truncate" title="{{ link.redirect_urls }}">{{ link.redirect_urls }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex justify-center mt-4">
            <div class="join">
                {# Кнопка Назад #}
                <a href="?page={{ page - 1 }}&size={{ size }}" 
                   class="join-item btn {% if page <= 1 %}btn-disabled{% endif %}">«</a>
                
                {# Текущая страница #}
                <button class="join-item btn btn-active">Страница {{ page }} из {{ total_pages }}</button>
                
                {# Кнопка Вперед #}
                <a href="?page={{ page + 1 }}&size={{ size }}" 
                   class="join-item btn {% if page >= total_pages %}btn-disabled{% endif %}">»</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
