<!DOCTYPE html>
<html lang="ru" data-theme="black">
    <head>
        <title>Open Ahrefs Admin</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="min-h-screen bg-base-300">
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl text-primary">Crawler Admin</a>
            </div>
        </div>

        <main class="p-4">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
